/* Fondo centrado para mostrar solo el PDF */
.form-page {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  padding: 2rem;
}

/* Caja para el visor de PDF */
.form-box {
  background: #ffffffd9;
  padding: 2rem;
  border-radius: 16px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* Título del visor */
.form-title {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-accept {
  background-color: #28a745;
  color: white;
}

.btn-accept:hover {
  background-color: #218838;
}

.btn-reject {
  background-color: #dc3545;
  color: white;
}

.btn-reject:hover {
  background-color: #c82333;
}
.btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  min-width: 150px; /* <-- fuerza mismo ancho mínimo */
  text-align: center;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}